<a href="https://github.com/{{ repository }}/actions?query={{ workflowQuery }}">
  <img
      src="https://github.com/{{ repository }}/workflows/{{ workflowNameOrFilePath }}/badge.svg?{{ search }}"
      alt="{{ text }}"
      title="{{ text }}">
</a>
